body{
  font-family: 'roboto', sans-serif !important;
  font-weight: 300 !important;
  color:#363636 !important;
}
.bg-light{
  background-color: #ffc038 !important;
}

ul .nav-item a{
  color:#555 !important;
  font-weight: bold !important;
  font-size: 14px !important
}

ul .nav-item a:hover{
  color:#fff !important;
}

.navbar-nav {
  margin-left: 20px !important;
}
